{
	"bugTracker": "JIRA",
	"jira": {
		"project": "DSVW",
		"issue_type": "Bug",
		"opened_status": ["Open","Reopen"],
		"closed_status": ["Closed","Done"],
		"open_transition": "Reopen Issue",
		"close_transition": "Close Issue",
		"close_transition_field": "resolution",
		"close_transition_value": "Done",
		"priorities": {
			"High": "High",
			"Medium": "Medium",
			"Low": "Low"
		},
		"fields": [{
			"type": "result",
			"name": "application",
			"jira_field_type": "label"
			},
			{
			"type": "result",
			"name": "category",
			"jira_field_name": "Category",
			"jira_field_type": "label"
		}]
	}
}
